@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-track {
    background: #020617;
}

textarea::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #334155;
}
